---
cssIncludes:
jsIncludes:
lang: en
title: The International Jugger Council
---
<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="The International Jugger Council (IJC) is an international organization to promote and support the sport of Jugger.">
    {% for css in cssIncludes %}
      <link rel="stylesheet" href="{{ css | url }}">
    {% endfor %}
  </head>
  <body>
    {{ content | safe }}
    {% for js in jsIncludes %}
      <script src="{{js | url}}"></script>
    {% endfor %}
  </body>
</html>
