---
cssIncludes:
jsIncludes:
lang: en
---
<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site[lang].metaTitle }}</title>
    <meta name="description" content="{{ site[lang].metaDescription }}">
    <link rel="stylesheet" href="{{ '/css/bulma.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
    {% for css in cssIncludes %}
      <link rel="stylesheet" href="{{ css | url }}">
    {% endfor %}
    <script src="https://kit.fontawesome.com/b248b23f0a.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ '/' | url }}">
          <img id="ijc_logo" src="{{ '/img/logo.png' | url }}">
          <h1>{{ site[lang].metaTitle }}</h1>
        </a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbar_menu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar_menu" class="navbar-menu">
        <div class="navbar-start"></div>

        <div class="navbar-end">
          {% include 'languageSwitcher.njk' %}
          {% include 'nav.njk' %}
        </div>
      </div>
    </nav>
    {{ content | safe }}
    <script src="{{ '/js/main.js' | url }}"></script>
    {% for js in jsIncludes %}
      <script src="{{js | url}}"></script>
    {% endfor %}
  </body>
</html>
