<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Position(s)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Wendy J-M</td>
      <td>Australia</td>
      <td>President, Rules Comparison Commissioner</td>
    </tr>
    <tr>
      <td>Gabriel Maynard Hernández</td>
      <td>Costa Rica</td>
      <td>Growth Support Commissioner</td>
    </tr>
    <tr>
      <td>Gil Richard</td>
      <td>Canada</td>
      <td>Mapping Commissioner</td>
    </tr>
    <tr>
      <td>Ian Williams</td>
      <td>USA</td>
      <td>International Competition Commissioner</td>
    </tr>
    <tr>
      <td>Miguel Alvarado</td>
      <td>USA</td>
      <td>Vice-President, Ethics Committee Commissioner</td>
    </tr>
    <tr>
      <td>Pijus “Pope” Stankevičius</td>
      <td>Lithuania</td>
      <td>Legal Support Commissioner</td>
    </tr>
    <tr>
      <td>Rickhard “Link” Nilsén</td>
      <td>Sweden</td>
      <td>Secretary</td>
    </tr>
    <tr>
      <td>Valkyrie Savage</td>
      <td>Canada</td>
      <td>Web Presence Commissioner, Corporate Image Commissioner</td>
    </tr>
    <tr>
      <td>Chris Wilcoxson</td>
      <td>USA</td>
      <td>Vice-Secretary, Treasurer, Rules Comparison Commissioner</td>
    </tr>
  </tbody>
</table>
