<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Committee</th>
      <th>Commissioner</th>
      <th>What They Do</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Web Presence</td>
      <td>Valkyrie Savage</td>
      <td>Designs and builds the IJC website and maintains our online presence.</td>
    </tr>
    <tr>
      <td>Corporate Image</td>
      <td>Valkyrie Savage</td>
      <td>Designs and maintains a coherent visual brand for the IJC.</td>
    </tr>
    <tr>
      <td>Mapping</td>
      <td>Gil Richard</td>
      <td>Keeps track of the locations of jugger groups across the globe and updates the Jugger World Map.</td>
    </tr>
    <tr>
      <td>Growth Support</td>
      <td>Gabriel Maynard Hernández</td>
      <td>Assists new clubs with training, equipment building, and promotion.</td>
    </tr>
    <tr>
      <td>Rules Comparison</td>
      <td>Wendy J-M</td>
      <td>Compares existing jugger rulebooks to help promote eventual agreement on an international ruleset.</td>
    </tr>
    <tr>
      <td>International Competition</td>
      <td>Ian Williams</td>
      <td>Assists tournament organizers with planning tournaments at all scales and levels of play.</td>
    </tr>
    <tr>
      <td>Legal Support</td>
      <td>Pijus “Pope” Stankevičius</td>
      <td>Manages internal IJC regulations and by-laws to ensure the IJC is a solid institution that can help out juggers at every level.</td>
    </tr>
    <tr>
      <td>Ethics</td>
      <td>Miguel Alvarado</td>
      <td>Studies complaints of breaches of our <a href="https://docs.google.com/document/d/1PA8wOP_-ITgONZFS6FuFjjPXXVSUNqZY6RtcvfJF268/edit?usp=sharing">Code of Conduct</a> and provides recommendations for resolution.</td>
    </tr>
  </tbody>
</table>
