<div class="columns is-desktop">
  <div class="column is-4">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{ '/img/social/discord.svg' | url }}" alt="Logo: Discord">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Discord</p>
            <p class="subtitle is-6">
              <a href="https://discord.gg/jXqhcYu">Jugger Worldwide</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-5">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{ '/img/social/turniere.png' | url }}" alt="Logo: Jugger Turniere">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Team Rankings</p>
            <p class="subtitle is-6">
              <a href="https://turniere.jugger.org/">Jugger Turniere</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-4">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{ '/img/social/facebook.svg' | url }}" alt="Logo: Facebook">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Facebook</p>
            <p class="subtitle is-6">
              <a href="https://www.facebook.com/groups/591614014205606/">Jugger Worldwide</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-5">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{ '/img/social/gsheets.svg' | url }}" alt="Logo: Facebook">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Contact a Team</p>
            <p class="subtitle is-6">
              <a href="https://docs.google.com/spreadsheets/d/1rNvqWBr7cfqOzpgFvFSuqnr1I4IzYezzRSswv11D34A/edit#gid=0">World Jugger Contact List</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-4">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{ '/img/social/blog.png' | url }}" alt="Logo: The International Jugger Blog">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Blog</p>
            <p class="subtitle is-6">
              <a href="https://juggerblog.net/">The International Jugger Blog</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
