<div class="columns is-desktop is-multiline">
  <div class="column is-half-desktop">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{ '/img/social/discord.svg' | url }}" alt="Logo: Discord">
            </figure>
          </div>
          <div class="media-content">
            <p class="title">Discord</p>
            <p class="subtitle">
              <a href="https://discord.gg/jXqhcYu">Jugger Worldwide</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-half-desktop">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{ '/img/social/gmail.svg' | url }}" alt="Logo: GMail">
            </figure>
          </div>
          <div class="media-content">
            <p class="title">Email</p>
            <p class="subtitle">
              <a href="mailto:juggerinternational@gmail.com">juggerinternational@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
