<div class="columns has-text-left">
  <div class="column is-4">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{ '/img/social/discord.svg' | url }}" alt="Logo: Discord">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Discord</p>
            <p class="subtitle is-6">
              <a href="https://discord.gg/jXqhcYu">Jugger Worldwide</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-4">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{ '/img/social/gmail.svg' | url }}" alt="Logo: GMail">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Email</p>
            <p class="subtitle is-6">
              <a href="mailto:juggerinternational@gmail.com">juggerinternational@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
