<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">
    {{ site[lang].navLanguage }}
  </a>
  <div class="navbar-dropdown is-right">
    {% for supportedLanguage in site.supportedLanguages %}
      {% set pageKeyUrl = '/' + supportedLanguage.lang %}
      {% for page in collections.all %}
        {% if page.data.pageKey === pageKey and page.data.lang == supportedLanguage.lang %}
          {% set pageKeyUrl = page.url %}
        {% endif %}
      {% endfor %}
      <a
        class="navbar-item"
        href="{{ pageKeyUrl | url}}">
        {{ supportedLanguage.label }}
      </a>
    {% endfor %}
  </div>
</div>
