<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">
    {{ site[lang].navLanguage }}
  </a>
  <div class="navbar-dropdown">
    <a
      class="navbar-item"
      href="{{ '/en' | url}}">🇬🇧 English</a>
    <a
      class="navbar-item"
      href="{{ '/es' | url}}">🇪🇸 Español</a>
    <a
      class="navbar-item"
      href="{{ '/de' | url}}">🇩🇪 Deutsch</a>
  </div>
</div>
