<ul class="is-size-3">
  <li><a href="/files/Jugger_101_Final.pdf">IJC Guide to Starting a Jugger Team</a></li>
  <li><a href="https://www.youtube.com/watch?v=YUux9tX0g8A">How to Start Your Own Jugger Team</a></li>
  <li><a href="https://www.facebook.com/groups/256230024938831/">How to Train Your Jugger</a></li>
  <li><a href="https://www.youtube.com/playlist?list=PLi_wwxAwiC5CKTO_majeyod-CmtPv2nH6">Jugger equipment (video tutorials)</a></li>
  <li><a href="https://www.facebook.com/groups/1920878784858779">Jugger - Pompfenbau / Spars Making</a></li>
</ul>
