<div class="columns is-desktop">
  <div class="column">
    <article class="message" id="cia">
      <div class="message-body has-text-left is-size-5">
        <p>
            We gathered the best players and coaches to help You with your Jugger journey.            
        </p>
        <p class="mt-2">
          If You need any help with Jugger, we are here for You.
        </p>
        <p class="mt-2">
          Whether it be about starting a club, organizing a tournament, or just getting better at Jugger, we are here to help.
        </p>
      </div>
    </article>
  </div>
  <div class="column">
    <p>
      <strong>Check out our coaching team</strong>, and book an appointment with any of the veteran players and coaches to help You with:
    <ul class="is-size-4 is-size-5-mobile">
        <li>Starting a club</li>
        <li>Organizing a tournament</li>
        <li>Analyzing your team's gameplay</li>
        <li>Creating a training routine for jugger and general fitness</li>
        <li>Anything else you need help with</li>
      </ul>
    </p>
  </div>
</div>
