Connect with the IJC on <a href="https://discord.gg/jXqhcYu">Discord</a> or via <a href="mailto://juggerinternational@gmail.com">email</a><br/><br/>
logo by María Chavarría<br/>
site by Evan Savage & Valkyrie Savage<br/>
