Connect with the IJC on <a href="https://discord.gg/jXqhcYu">Discord</a> or via <a href="mailto://juggerinternational@gmail.com">email</a><br/><br/>
<a href="https://github.com/international-jugger-council/ijc-website/blob/master/CONTRIBUTORS.md">See website contributors</a><br/>
