<div class="columns is-desktop">
  <div class="column">
    <p class="is-size-4">
      Juggers are stylish! Since the dawn of the jugger sport, creative juggers have been designing awesome uniforms for their teams. In jugger, it is also traditional to trade jerseys with players that you respect or admire after a tournament. Browse the gallery and see some of the history of jugger fashion, or submit jerseys we're missing!
    </p>
    <p class="is-size-3 is-size-4-mobile">
      <a href="{{ '/en/jersey' | url }}">Check out the jersey gallery!</a>
    </p>
    <p class="is-size-3 is-size-4-mobile">
      <a href="https://forms.gle/E4Yxa4apLfZfawTh6">Submit your jerseys!</a>
    </p>
  </div>
  <div class="column">
    <a href="{{ '/en/jersey' | url }}">
      <img src="{{ '/img/photos/jersey_gallery.jpg' | url }}" />
    </a>
  </div>
</div>
