<div class="columns is-desktop">
  <div class="column">
    <article class="message">
      <div class="message-body has-text-left is-size-5">
        <p>
          We want to know where jugger is played, how it is played, and what they need from us to grow.
        </p>
        <p class="mt-2">
          We want to gather experts and volunteers from around the world to provide all the material and agreements needed to support that growth.
        </p>
        <p class="mt-2">
          We want to make it easier to compete with other juggers from around the world.
        </p>
      </div>
    </article>
  </div>
  <div class="column">
    <p>
      <strong>The IJC Mission Statement was adopted on October 2, 2019</strong> as part of its first Charter:
    </p>
    <p class="mt-4 is-size-3 is-size-4-mobile">
      <a href="https://docs.google.com/document/d/1SUXlLNPV6Kx9I2xVxt3OhHyd2PUB94KuWtNW8JV0xo0/edit?usp=sharing">IJC Charter</a>
    </p>
  </div>
</div>

<hr>

<div class="columns is-desktop">
  <div class="column">
    <h3 class="is-size-3 mb-4">Code of Conduct</h3>
    <p>
      Do you coach other juggers, promote your club locally, organize tournaments, or otherwise serve as a leader in your local jugger club?  <strong>The IJC Code of Conduct can help you create an safe, enjoyable and inclusive environment</strong> for the sport of jugger.
    </p>
    <p class="is-size-3 is-size-4-mobile">
      <a href="https://docs.google.com/document/d/1PA8wOP_-ITgONZFS6FuFjjPXXVSUNqZY6RtcvfJF268/edit">IJC Code of Conduct</a>
    </p>
  </div>
  <div class="column">
    <article class="message">
      <div class="message-body has-text-left is-size-5">
        The purpose of this Code of Conduct is to outline the International Jugger Council’s (IJC) commitment to an environment free from inappropriate behaviour, specifically Bullying, Violence, Harassment, Discrimination, Sexual Harassment and Victimisation, and provide a clear and simple incident and complaint handling procedure.
      </div>
    </article>
  </div>
</div>
