<div class="columns is-desktop">
  <div class="column">
    <p>
      As a sport, <strong>Jugger is a work in progress: we don't yet have a single global ruleset!</strong> There are around 20 different national and local variants.  Most of these variants agree on basic rules, but there are differences in areas like refereeing and dimensions of equipment.
    </p>
    <p>
      The most widely used rulesets are the German, Spanish, and Australian rulesets.  We're currently working on a tool to help players understand these different rulesets - in the meantime, check out the International Jugger Blog’s Rulebooks compilation!
    </p>
    <p class="is-size-3">
      <a href="https://www.juggerblog.net/index.php?/archives/139-International-Jugger-rulebooks-Jugger-Archive-I.html">Check out international rulesets</a>
    </p>
  </div>
  <div class="column"></div>
</div>
