<div class="columns is-desktop">
  <div class="column">
    <p>
      We <strong>help organize juggers to work together in growing and building the future of this sport</strong>, and provide a forum for the community to discuss rules, competition, and cooperation in jugger.
    </p>
    <p>
      You can learn more about the Committees of the IJC and how to volunteer here:
    </p>
    <p class="is-size-3 is-size-4-mobile">
      <a href="{{ '/en/about' | url }}">Get involved</a>
    </p>
  </div>
  <div class="column has-text-centered">
    <img id="ijc_logo_full" src="{{ '/img/logo/Logo-Color.png' | url }}" />
  </div>
</div>
