<div class="columns is-desktop">
  <div class="column">
    <p>
      We <strong>help organize juggers to work together in growing and building the future of this sport</strong>, and provide a forum for the community to discuss rules, competition, and cooperation in jugger.
    </p>
    <p>
      You can learn more how to start a jugger team, where the nearest jugger team is, or anything jugger here:
    </p>
    {% include 'contactsIJC.njk' %}
  </div>
  <div class="column has-text-centered">
    <img id="ijc_logo_full" src="{{ '/img/logo/Logo-Color.png' | url }}" />
  </div>
</div>
