<p>
  The IJC is a volunteer-run organization, run by juggers who take an interest in supporting and growing the sport of jugger.  If you're interested in learning more, want to help as a volunteer, or have feedback, comments, or questions-contact us!
</p>
{% include 'contactsIJC.njk' %}

<hr>
