<p>
  The IJC is a volunteer-run organization, run by juggers who take an interest in supporting and growing the sport of jugger.  If you're interested in learning more, want to help as a volunteer, or have feedback, comments, or questions - contact us!
</p>
{% include 'contactsIJC.njk' %}

<hr>

<div class="columns is-desktop">
  <div class="column">
    <h3 class="is-size-3 mb-4">Support Us!</h3>
    <p>
      There are no membership fees - the IJC is a non-profit forum and is funded via individual donations. If you like the objectives we’re working to achieve, please consider supporting us by sending a small amount of money to our account! To get the bank details, just get in touch with the Treasurer via Discord or email.
    </p>
    <p>
      We can include your (or your organization's) name in our Top Supporters List.  Anonymous donations are also accepted!
    </p>
  </div>
  <div class="column">
    <h4 class="is-size-3 mb-4">Top Supporters List</h4>
    {% include 'supporters.njk' %}
  </div>
</div>

<hr>

<h3 class="is-size-3 mb-4">How the IJC Works</h3>
<div class="columns">
  <div class="column">
    <p>
      The International Jugger Council was founded in 2019 to serve as a representative body for the worldwide jugger community.   This map shows IJC member countries and organizations around the world.
    </p>
    <p>
      The Council comprises 1-3 Representatives from each member country, and each nation’s representatives share one vote. The Council elects a Board every year, which calls ordinary meetings every October and April and extraordinary meetings whenever the situation requires it.
    </p>
    <p>
      Once the Council has agreed on setting a new goal for the IJC, the Board establishes a Committee to work on it.
    </p>
  </div>
  <div class="column">
    <iframe width="960" height="517" data-original-width="6460" data-original-height="3480" src="https://www.thinglink.com/card/1325051402354950146" type="text/html" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen scrolling="no"></iframe>
    <script async src="//cdn.thinglink.me/jse/responsive.js"></script>
  </div>
</div>

<hr>

<h3 class="is-size-3 mb-4">IJC Board</h3>
<p>
  The Board is responsible for managing the International Jugger Council.
  Its current members are:
</p>
{% include 'boardIJC.njk' %}

<hr>

<h3 class="is-size-3 mb-4">IJC Committees</h3>
<p>
  These committees help the IJC realize its mission.  If there's a particular committee or area you'd like to help out with, you can also reach out to the relevant Commissioner on Discord!
</p>
{% include 'committeesIJC.njk' %}
