<p>
  Una parte muy importante de la experiencia del jugger es conocer y mantenerse en contacto con nuevas personas. ¿No sabes cómo hacerlo? Estos enlaces te ayudarán a <strong>ponerte en contacto con la comunidad del jugger a nivel local, nacional e internacional.</strong> Los miembros de estos foros y grupos pueden echarte una mano para encontrar juggers cerca de ti.
</p>

{% include 'connectCommunity.njk' %}
