<div class="columns is-desktop">
  <div class="column">
    <p class="is-size-4">
      ¡Puedes jugar al jugger en casi cualquier parte!
    </p>
    <p>
      En la actualidad, hay clubes de jugger en <strong>treinta países de Europa, Asia, Oceanía y América</strong>. Echa un ojo a nuestro Mapamundi del Jugger para ver si hay un grupo cerca de ti; y si no lo hay, ¡reúne a tus amigos y funda uno!
    </p>
    <p class="is-size-3">
      <a href="{{ '/en/map' | url }}">Explora el mapa</a>
    </p>
  </div>
  <div class="column"></div>
</div>
