Conéctese con el CIJ en <a href="https://discord.gg/jXqhcYu">Discord</a> o por <a href="mailto://juggerinternational@gmail.com">correo electrónico</a><br/><br/>
logotipo por María Chavarría<br/>
sitio por Evan Savage & Valkyrie Savage<br/><br/>
traducción por Arturo Pérez Amores
