<div class="columns is-desktop">
  <div class="column">
    <p class="is-size-4">
      Juggers tienen estilo! Del empiezo de jugger, juggers creativos han diseñado uniformes creativos por sus equipos. En jugger, es tradicional intercambiar jerseys con jugadores que respetas o admiras despues de un torneo. Navegué la galería y mira un poco de la historia de jugger, o enviarnos unos jerseys que nos faltan!
    </p>
    <p class="is-size-3 is-size-4-mobile">
      <a href="{{ '/es/jersey' | url }}">Mira la galería de jerseys!</a>
    </p>
    <p class="is-size-3 is-size-4-mobile">
      <a href="https://forms.gle/E4Yxa4apLfZfawTh6">Envíenos tus jerseys!</a>
    </p>
  </div>
  <div class="column">
    <a href="{{ '/es/jersey' | url }}">
      <img src="{{ '/img/photos/jersey_gallery.jpg' | url }}" />
    </a>
  </div>
</div>
