<div class="columns is-desktop">
  <div class="column">
    <p class="is-size-4">
      ¡El jugger tiene estilo! Desde el amanecer de este deporte, muchos jugadores creativos han diseñado uniformes geniales para sus equipos. Además, es tradicional intercambiar camisetas con jugadores a los que respetas o admiras tras un torneo. ¡Entra en la galería para ver la historia de la moda del jugger, o envíanos equipaciones que nos falten!
    </p>
    <p class="is-size-3 is-size-4-mobile">
      <a href="{{ '/es/jersey' | url }}">¡Accede a la galería de equipaciones!</a>
    </p>
    <p class="is-size-3 is-size-4-mobile">
      <a href="https://forms.gle/E4Yxa4apLfZfawTh6">¡Envíanos tu equipación!</a>
    </p>
  </div>
  <div class="column">
    <a href="{{ '/es/jersey' | url }}">
      <img src="{{ '/img/photos/jersey_gallery.jpg' | url }}" />
    </a>
  </div>
</div>
