<div class="columns is-desktop">
  <div class="column">
    <article class="message">
      <div class="message-body has-text-left is-size-5">
        <p>
          Queremos saber dónde se juega al jugger, cómo se juega allí, y lo que necesitan de nosotros para crecer.
        </p>
        <p class="mt-2">
          Queremos reunir expertos y voluntarios de todo el mundo para proporcionar los materiales y acuerdos necesarios para apoyar ese crecimiento.
        </p>
        <p class="mt-2">
          Queremos hacer más fácil la competición entre juggers de todo el mundo.
        </p>
      </div>
    </article>
  </div>
  <div class="column">
    <p>
      <strong>El 2 de octubre de 2019, el IJC aprobó esta declaración de objetivos</strong> y acordó establecer su primer Estatuto:
    </p>
    <p class="mt-4 is-size-3">
      <a href="https://docs.google.com/document/d/14uvx2m4GO0TtbE3VWL9vFoyrKPT--0a9CSafenTm1iw/edit">Estatuto IJC</a>
    </p>
  </div>
</div>

<hr>

<div class="columns is-desktop">
  <div class="column">
    <h3 class="is-size-3 mb-4">Código de Conducta</h3>
    <p>
      ¿Entrenas a otros juggers, promocionas tu club a nivel local, organizas competiciones, o simplemente ostentas una posición de liderazgo o autoridad en tu organización local de jugger? <strong>El Código de Conducta del IJC proporciona un punto de partida útil para ayudarte a crear un ambiente seguro, agradable e inclusivo</strong> para este deporte.
    </p>
    <p class="is-size-3">
      <a href="https://docs.google.com/document/d/1p4N-S5HPWDjFHrXlJti3NGP0Y7t1Co1eXSUAdVn0-ig/edit">Código de Conducta IJC</a>
    </p>
  </div>
  <div class="column">
    <article class="message">
      <div class="message-body has-text-left is-size-5">
        El propósito de este Código de Conducta es definir el compromiso del Consejo Internacional del Jugger (en adelante, IJC) con un ambiente libre de comportamientos inapropiados, específicamente el Maltrato, la Violencia, el Acoso Psicológico y Sexual, la Discriminación y la Victimización, y proporcionar un procedimiento claro y sencillo para lidiar con incidentes y denuncias.
      </div>
    </article>
  </div>
</div>
