<div class="columns is-desktop">
  <div class="column">
     <p>
      A fecha de 2020, <strong>no hay un único reglamento unificado para jugar al jugger en todo el mundo.</strong> Existen cerca de 20 variantes nacionales y locales, la mayoría de las cuales coinciden en lo básico pero difieren en ciertos temas como el arbitraje o las medidas exactas de las armas.
    </p>
    <p>
      Actualmente estamos trabajando en crear una base de datos comparativa para las reglas alemanas, españolas y australianas. ¡Mientras tanto, puedes revisar la recopilación de reglamentos del International Jugger Blog!
    </p>

    <p class="is-size-3">
      <a href="https://www.juggerblog.net/index.php?/archives/139-International-Jugger-rulebooks-Jugger-Archive-I.html">Echa un vistazo a los reglamentos internacionales</a>
    </p>
  </div>
  <div class="column"></div>
</div>
