<div class="columns">
  <div class="column">
    <p>
      ¿Acabas de descubrir el jugger y quieres implantarlo en tu zona? ¿Eres ya un jugador y quieres llevarte tu deporte favorito contigo al mudarte a una nueva ciudad?
    </p>
    <p>
      Aquí ponemos a tu disposición algunas colecciones de <strong>guías y consejos útiles</strong> para diseñar entrenamientos y fabricar armas:
    </p>
  </div>
  <div class="column">
    {% include 'startClubResources.njk' %}
  </div>
</div>
