<div class="columns is-desktop">
  <div class="column">
    <p>
      Nosotros <strong>ayudamos a los juggers organizarse y trabajar juntos para crecer y construir el futuro de este deporte</strong>, y mantemos un forum para que la comunidad puede discutir reglas, competiciones, y cooperación en jugger.
    </p>
    <p>
      Puedes aprender más sobre los fines de los Comités y cómo unirte como voluntario aquí:
    </p>
    <p class="is-size-3">
      <a href="{{ '/en/about' | url }}">Involúcrese</a>
    </p>
  </div>
  <div class="column has-text-centered">
    <img id="ijc_logo_full" src="{{ '/img/logo/Logo-Color.png' | url }}" />
  </div>
</div>
