<div class="columns is-desktop">
  <div class="column">
    <p>
      <strong>El jugger es un deporte mixto de contacto</strong> en el que dos equipos de cinco jugadores, equipados con armas acolchadas, compiten por conseguir una pelota colocada en el centro del campo y llevarla hasta la base del contrario. El juego se desarrolló en su forma actual en Alemania a principios de los años 90, y hoy día es practicado en 30 países de todo el mundo.
    </p>
    <p class="is-size-3">
      <a href="{{ '/es/play' | url }}">Aprende las reglas</a> |
      <a href="{{ '/es/map' | url }}">Encuentra un club</a>
    </p>
  </div>
  <div class="column">
    {% include 'videoJuggerShort.njk' %}
  </div>
</div>
