<p>
  El IJC es una organización formada por voluntarios de la comunidad del jugger interesados en apoyar y fomentar el crecimiento del deporte. Si quieres saber más, echarnos una mano o hacernos llegar sugerencias, comentarios o preguntas, ¡contacta con nosotros!
</p>
{% include 'contactsIJC.njk' %}

<hr>

<div class="columns is-desktop">
  <div class="column">
    <h3 class="is-size-3 mb-4">¡Apóyanos!</h3>
    <p>
      No hay cuotas para los miembros: el IJC es un foro sin ánimo de lucro y se financia mediante donaciones individuales. ¡Si te gustan los objetivos que aspiramos a alcanzar, por favor, plantéate apoyarnos enviándonos una pequeña cantidad de dinero a nuestra cuenta! Para obtener los datos bancarios, no tienes más que ponerte en contacto con la Tesorera a través de Discord o enviarnos un correo.
    </p>
    <p>
      Podemos incluir tu nombre (o el de tu organización) en nuestra Lista de Principales Benefactores. ¡También se aceptan donaciones anónimas!
    </p>
  </div>
  <div class="column">
    <h4 class="is-size-3 mb-4">Lista de Principales Benefactores</h4>
    {% include 'supporters.njk' %}
  </div>
</div>

<hr>

<h3 class="is-size-3 mb-4">El Consejo Internacional del Jugger</h3>
<div class="columns">
  <div class="column">
    <p>
      El Consejo Internacional del Jugger (IJC, por sus siglas en inglés) fue constituido el 2 de octubre de 2019 como un organismo representativo para la comunidad mundial del jugger. Sus funciones incluyen debatir y votar acuerdos en materia de reglas, competiciones y cooperación. Actualmente los siguientes países y organizaciones forman parte del IJC:
    </p>
    <p>
      El Consejo está formado por entre 1 y 3 Representantes de cada país miembro, y los representantes de cada nación comparten un solo voto. El Consejo elige una Junta cada año, la cual convoca reuniones ordinarias cada octubre y abril y sesiones extraordinarias siempre que la situación lo requiera.
    </p>
    <p>
      Una vez que el Consejo ha acordado establecer un nuevo objetivo para el IJC, la Junta crea un Comité para que trabaje en él.
  </div>
  <div class="column">
    <iframe width="960" height="517" data-original-width="6460" data-original-height="3480" src="https://www.thinglink.com/card/1325051402354950146" type="text/html" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen scrolling="no"></iframe>
    <script async src="//cdn.thinglink.me/jse/responsive.js"></script>
  </div>
</div>

<hr>

<h3 class="is-size-3 mb-4">La Junta</h3>
<p>
  La Junta se encarga de dirigir el Consejo Internacional del Jugger.
  Sus miembros actuales son:
</p>
{% include 'boardIJC.njk' %}

<hr>

<h3 class="is-size-3 mb-4">Los Comités</h3>
<p>
  Estos Comités ayudan al IJC a cumplir su misión. Si quieres ayudar en un Comité o tema en concreto, puedes ponerte en contacto con el Comisario al mando en Discord.
</p>
{% include 'committeesIJC.njk' %}
