<p>
  El IJC es una organización formada por voluntarios de la comunidad del jugger interesados en apoyar y fomentar el crecimiento del deporte. Si quieres saber más, echarnos una mano o hacernos llegar sugerencias, comentarios o preguntas, ¡contacta con nosotros!
</p>
{% include 'contactsIJC.njk' %}

<hr>
