html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.jersey-header {
    padding: 10 10 10 10;
}

.jersey-thumbnail {
    height: 300px;
    width: 300px;
}

.jersey-name {
    font-weight: bold;
}

#controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#controls div {
    margin: 5px;
    padding: 2px;
    background-color: whitesmoke;
    border: 1px;
    border-style: solid;
    border-color: lightskyblue;
    border-radius: 3px;
}