@font-face {
    font-family: "Clean Sports";
    src: url(/fonts/CleanSports.ttf) format("truetype");
}

@font-face {
    font-family: "Clean Sports Stencil";
    src: url(/fonts/CleanSports_Stencil.ttf) format("truetype");
}

@font-face {
    font-family: "Caviar Dreams";
    src: url(/fonts/CaviarDreams.ttf) format("truetype");
}
@font-face {
    font-family: "Caviar Dreams";
    src: url(/fonts/CaviarDreams_Bold.ttf) format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Caviar Dreams";
    src: url(/fonts/CaviarDreams_Italic.ttf) format("truetype");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Caviar Dreams";
    src: url(/fonts/CaviarDreams_BoldItalic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic, oblique;
}

body {
  font-family: "Caviar Dreams";
  min-width: 600px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Clean Sports";
}

a {
  font-weight: bold;
}

#ijc_modal_lang_warning .modal-card-foot {
  justify-content: flex-end;
}

#ijc_modal_lang_warning p {
  margin-bottom: 1.5rem;
}

nav {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
}

#ijc_logo {
  margin-right: 0.5rem;
  max-height: 3.5rem;
}

.navbar-burger {
  height: 4.5rem;
  width: 4.5rem;
}

#ijc_lang {
  min-height: calc(100vh - 52px);
}

.ijc-blurb {
  margin: 2.5rem 1rem;
}

.ijc-blurb > .container p {
  font-size: 1.25rem;
}

.ijc-blurb > .container p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.hero {
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-body {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.hero-body h2 {
  color: white;
  font-size: 4rem;
}

.hero#connect_with_community::before {
  background: url('/img/photos/connect_with_community.jpg');
  background-position-y: 40%;
  background-size: cover;
}

.hero#find_a_club::before {
  background: url('/img/photos/find_a_club.jpg');
  background-position-y: 70%;
  background-size: cover;
}

.hero#mission_statement::before {
  background: url('/img/photos/mission_statement.jpg');
  background-position-y: 50%;
  background-size: cover;
}

.hero#rules::before {
  background: url('/img/photos/rules.jpg');
  background-position-y: 25%;
  background-size: cover;
}

.hero#start_a_club::before {
  background: url('/img/photos/start_a_club.jpg');
  background-position-y: 70%;
  background-size: cover;
}

.hero#the_ijc::before {
  background: url('/img/photos/the_ijc.jpg');
  background-position-y: 50%;
  background-size: cover;
}

.hero#what_is_jugger::before {
  background: url('/img/photos/what_is_jugger.jpg');
  background-position-y: 50%;
  background-size: cover;
}

.hero#who_we_are::before {
  background: url('/img/photos/who_we_are.jpg');
  background-position-y: 50%;
  background-size: cover;
}
