<p>
  Am besten läßt es sich juggern, wenn man sich mit anderen darüber austauschen kann. Nicht sicher, wie das geht? Diese Links helfen dir, <strong>mit deiner lokalen, nationalen und internationalen Jugger-Gemeinde in Kontakt zu treten</strong>. In diesen Foren und Gruppen findest du Hilfe.
</p>
{% include 'connectCommunity.njk' %}
