<div class="columns is-desktop">
  <div class="column">
    <p class="is-size-4">
      Jugger can be played almost anywhere!
    </p>
    <p>
      There are jugger clubs in <strong>thirty countries across Europe, Asia, Oceania and the Americas</strong>. Check our Jugger World Map to see if there’s any such group near you - but if there isn’t, grab your friends and start one!
    </p>
    <p class="is-size-3">
      <a href="{{ '/de/map' | url }}">Browse the map</a>
    </p>
  </div>
  <div class="column"></div>
</div>
