<div class="columns is-desktop">
  <div class="column">
    <p class="is-size-4">
      Jugger wird an immer mehr Orten auf der Welt gespielt!
    </p>
    <p>
      Heute gibt es bereits Juggervereine und -gruppen in <strong>30 Ländern in Europa, Asien, Ozeanien und Amerika</strong>. Auf der Jugger-Weltkarte des IJC können Gruppen in der Nähe gefunden werden. Falls es noch keine gibt – dann ist es höchste Zeit, eine eigene ins Leben zu rufen!
    </p>
    <p class="is-size-3 is-size-4-mobile">
      <a href="{{ '/de/map' | url }}">Karte durchsuchen</a>
    </p>
  </div>
  <div class="column">
    <a href="{{ '/de/map' | url }}">
      <img src="{{ '/img/map/jugger_map_preview.png' | url }}" />
    </a>
  </div>
</div>
