Verbinde dich mit dem IJC bei <a href="https://discord.gg/jXqhcYu">Discord</a> oder per <a href="mailto://juggerinternational@gmail.com">E-mail</a><br/><br/>
Logo von <a href="https://www.instagram.com/iriel89">María Chavarría</a><br/>
Übersetzung von <a href="https://www.linkedin.com/in/arturo-perez-amores">Arturo Pérez Amores</a></br>
<a href="https://github.com/international-jugger-council/ijc-website/graphs/contributors">Siehe Webseite-Mitarbeiters</a><br/>
