Verbinde dich mit dem IJC bei <a href="https://discord.gg/jXqhcYu">Discord</a> oder per <a href="mailto://juggerinternational@gmail.com">E-mail</a><br/><br/>
Logo by María Chavarría<br/>
Webseite by Evan Savage & Valkyrie Savage<br/>
