<div class="columns is-desktop">
  <div class="column">
    <p class="is-size-4">
      Juggern sind stilvoll! Seit dem Anbruch vom Jugger als Sport, haben viele kreative Juggern tolle Uniformen für ihre Mannschaften entworfen. Im Jugger ist es auch Tradition, Trikots mit Spielern zu tauschen, die man nach einem Turnier respektiert oder bewundert. Stöbern Sie in der Galerie und sehen Sie sich etwas über die Geschichte der Jugger-Mode an oder reichen Sie Trikots ein, die wir vermissen!
    </p>
    <p class="is-size-3 is-size-4-mobile">
      <a href="{{ '/de/jersey' | url }}">Schau die Ausstattungsgalerie an!</a>
    </p>
    <p class="is-size-3 is-size-4-mobile">
      <a href="https://forms.gle/E4Yxa4apLfZfawTh6">Reich deine Ausstattung ein!</a>
    </p>
  </div>
  <div class="column">
    <a href="{{ '/de/jersey' | url }}">
      <img src="{{ '/img/photos/jersey_gallery.jpg' | url }}" />
    </a>
  </div>
</div>
