<div class="columns is-desktop">
  <div class="column">
    <article class="message">
      <div class="message-body has-text-left is-size-5">
        <p>
          Wir wollen wissen, wo Jugger gespielt wird, wie es gespielt wird und was die Jugger-Gruppen von uns brauchen, um zu wachsen.
        </p>
        <p class="mt-2">
          Wir wollen Experten und Freiwillige aus der ganzen Welt zusammenbringen, um alle Materialien und Vereinbarungen bereitzustellen, die zur ihrer Unterstützung erforderlich sind.
        </p>
        <p class="mt-2">
          Wir wollen es einfacher machen, mit anderen Juggern aus der ganzen Welt zu konkurrieren.
        </p>
      </div>
    </article>
  </div>
  <div class="column">
    <p>
      <strong>Am 2. Oktober 2019 nahm das IJC seine erste Charta an:</strong>
    </p>
    <p class="mt-4 is-size-3">
      <a href="https://docs.google.com/document/d/1SUXlLNPV6Kx9I2xVxt3OhHyd2PUB94KuWtNW8JV0xo0/edit?usp=sharing">IJC-Charta</a>
    </p>
  </div>
</div>

<hr>

<div class="columns is-desktop">
  <div class="column">
    <h3 class="is-size-3 mb-4">Verhaltenskodex</h3>
    <p>
      Trainierst du andere Jugger, förderst du deinen Club vor Ort, organisierst du Turniere oder bekleidest du auf andere Weise eine Führungsposition in deiner lokalen Jugger-Organisation? Der IJC-Verhaltenskodex bietet einen nützlichen Ausgangspunkt, um <strong>ein sicheres, angenehmes und integratives Umfeld für den Jugger-Sport zu schaffen</strong>.
    </p>
    <p class="is-size-3">
      <a href="https://docs.google.com/document/d/1PA8wOP_-ITgONZFS6FuFjjPXXVSUNqZY6RtcvfJF268/edit">IJC-Verhaltenskodex</a>
    </p>
  </div>
  <div class="column">
    <article class="message">
      <div class="message-body has-text-left is-size-5">
        The purpose of this Code of Conduct is to outline the International Jugger Council’s (IJC) commitment to an environment free from inappropriate behaviour, specifically Bullying, Violence, Harassment, Discrimination, Sexual Harassment and Victimisation, and provide a clear and simple incident and complaint handling procedure.
      </div>
    </article>
  </div>
</div>
