<div class="columns is-desktop">
  <div class="column">
    <p>
      2020 gibt es weltweit noch <strong>kein weltweit einheitliches Juggerregelwerk.</strong> Es bestehen rund 20 verschiedene nationale und lokale Regelwerke, von denen sich die meisten in den Grundregeln gleichen, sich jedoch in bestimmten Bereichen unterscheiden, wie beispielsweise in der Länge oder Ausgestaltung von Spielgeräten und Jugg.
    </p>
    <p>
      Wir arbeiten derzeit an der Erstellung einer Vergleichsdatenbank für die deutschen, spanischen und australischen Regeln. Zum Vergleich können die Regelwerke im Regelarchiv des International Jugger Blog herangezogen werden:
    </p>
    <p class="is-size-3">
      <a href="https://www.juggerblog.net/index.php?/archives/139-International-Jugger-rulebooks-Jugger-Archive-I.html">Check die internationalen Regeln</a>
    </p>
  </div>
  <div class="column">
    {% include 'videoJuggerLong.njk' %}
  </div>
</div>
