<div class="columns">
  <div class="column">
    <p>
      Have you just discovered jugger and want to bring it closer to home? Are you already a jugger player and wish to take your favourite sport when you move to a new town?
    </p>
    <p>
      We've linked to some <strong>useful guides and tutorials</strong> to help you get started.
    </p>
  </div>
  <div class="column">
    {% include 'startClubResources.njk' %}
  </div>
</div>
