<div class="columns">
  <div class="column">
    <p>
      Möchtest du eine eigene Juggergruppe gründen? Bist du bereits ein Jugger und möchtest deinen Lieblingssport auch dann noch ausüben, wenn du in eine neue Stadt ohne eigenen Juggerverein ziehst? Kein Problem!
    </p>
    <p>
      Hier gibt es einige Sammlungen nützlicher <strong>Anleitungen und Tipps</strong> zum Planen von Trainings und zum Erstellen von Pompfen.
    </p>
  </div>
  <div class="column">
    {% include 'startClubResources.njk' %}
  </div>
</div>
