<div class="columns is-desktop">
  <div class="column">
    <p>
      Wir <strong>helfen dabei, Juggers zu organisieren, um gemeinsam die Zukunft dieses Sports zu fördern und aufzubauen</strong>.  Wir bieten auch der Jugger-Community ein Forum, um Regeln, Wettbewerb und Zusammenarbeit zu diskutieren.
    </p>
    <p>
      Weitere Informationen über die Arbeitsweise und Mitgestaltungsmöglichkeiten an IJC-Komitees finden sich hier:
    </p>
    <p class="is-size-3">
      <a href="{{ '/de/about' | url }}">Mehr erfahren</a>
    </p>
  </div>
  <div class="column has-text-centered">
    <img id="ijc_logo_full" src="{{ '/img/logo/Logo-Color.png' | url }}" />
  </div>
</div>
