<div class="columns is-desktop">
  <div class="column">
    <p>
      Wir <strong>helfen dabei, Juggers zu organisieren, um gemeinsam die Zukunft dieses Sports zu fördern und aufzubauen</strong>.  Wir bieten auch der Jugger-Community ein Forum, um Regeln, Wettbewerb und Zusammenarbeit zu diskutieren.
    </p>
    <p>
      Weitere Informationen zur Gründung eines Jugger-Teams, zur Kontaktaufnahme mit einem bestehenden Team in Ihrer Nähe und vieles mehr finden Sie hier:
    </p>
    {% include 'contactsIJC.njk' %}
  </div>
  <div class="column has-text-centered">
    <img id="ijc_logo_full" src="{{ '/img/logo/Logo-Color.png' | url }}" />
  </div>
</div>
