<div class="columns is-desktop">
  <div class="column">
    <p>
      <strong>Jugger is a mixed (co-ed) contact sport</strong> where two teams of five players, outfitted with padded spars, compete to grab a ball placed in the center of the field and bring it to the opponent’s goal. The game was developed in its current form in Germany during the early 90’s, and is currently played in 30 countries across the world.
    </p>
    <p class="is-size-3">
      <a href="{{ '/de/play' | url }}">Regeln</a> |
      <a href="{{ '/de/map' | url }}">Finde Verein</a>
    </p>
  </div>
  <div class="column">
    {% include 'videoJuggerShort.njk' %}
  </div>
</div>
