<div class="columns is-desktop">
  <div class="column">
    <p>
      <strong>Jugger ist eine Mischung aus Mannschafts- und Einzelsport.</strong> Eine Mannschaft besteht aus fünf Spielern. Vier davon führen »Pompfen«, Spielgeräte, mit denen sie ihre Gegner zu berühren versuchen. Allein die fünfte Spielerin bzw. der fünfte Spieler kann den »Jugg« genannten Ball aufnehmen und ins gegnerische Tor tragen, ins »Mal«, um einen Punkt zu erzielen. Der Sport wurde aus einem Film heraus in den frühen 90ern in Deutschland entwickelt. Er wird heutzutage in 30 Ländern auf der ganzen Welt gespielt.
    </p>
    <p class="is-size-3 is-size-4-mobile">
      <a href="{{ '/de/play' | url }}">So wird gespielt</a> |
      <a href="{{ '/de/map' | url }}">Finde Verein</a>
    </p>
  </div>
  <div class="column">
    {% include 'videoJuggerShort.njk' %}
  </div>
</div>
