<p>
  Das IJC ist eine nichtkommerzielle Organisation, die von Juggern geleitet wird, die sich für die Unterstützung und das Wachstum des Jugger-Sports interessieren. Wenn du mehr erfahren, als Freiwilliger helfen möchtest oder Feedback, Kommentare oder Fragen hast – zögere nicht, uns zu kontaktieren!
</p>
{% include 'contactsIJC.njk' %}

<hr>
