<p>
  Das IJC ist eine nichtkommerzielle Organisation, die von Juggern geleitet wird, die sich für die Unterstützung und das Wachstum des Jugger-Sports interessieren. Wenn du mehr erfahren, als Freiwilliger helfen möchtest oder Feedback, Kommentare oder Fragen hast – zögere nicht, uns zu kontaktieren!
</p>
{% include 'contactsIJC.njk' %}

<hr>

<div class="columns is-desktop">
  <div class="column">
    <h3 class="is-size-3 mb-4">Unterstütze uns!</h3>
    <p>
      Es gibt keine Mitgliedsbeiträge - das IJC ist ein nichtkommerzielles Forum und wird durch Einzelspenden finanziert. Wenn dir die Ziele gefallen, an denen wir arbeiten, kannst du uns unterstützen, indem du einen kleinen Geldbetrag auf unser Konto überweist. Um die Bankdaten zu erhalten, setz dich einfach per Discord oder E-Mail mit der Schatzmeisterin in Verbindung.
    </p>
    <p>
      Wir können deinen Namen (oder den Namen deiner Organisation) in unsere Liste der Hauptgebern aufnehmen. Anonyme Spenden werden ebenfalls akzeptiert.
    </p>
  </div>
  <div class="column">
    <h4 class="is-size-3 mb-4">Hauptsponsoren</h4>
    {% include 'supporters.njk' %}
  </div>
</div>

<hr>

<h3 class="is-size-3 mb-4">Wie das IJC funktioniert</h3>
<div class="columns">
  <div class="column">
    <p>
      Das International Jugger Council (IJC) wurde am 2. Oktober 2019 als Vertretung für die weltweite Jugger-Gemeinschaft gegründet. Zu ihren Aufgaben gehören Erörterung und Abstimmung von Regelfragen, des Wettbewerbs und der Zusammenarbeit. Diese Karte zeigt Länder und Organisationen Mitglieder des IJC.
    </p>
    <p>
      Der Rat besteht aus 1-3 Vertreterinnen und Vertretern seiner Mitgliedsländer, die sich jeweils eine Stimme teilen. Der Rat wählt jedes Jahr einen Vorstand, der im Oktober und April ordentliche Sitzungen einberuft. Bei Bedarf können außerordentliche Sitzungen einberufen werden.
    </p>
    <p>
      Wenn der Rat sich auf ein neues Thema geeinigt hat, wird durch den Vorstand ein Komitee eingesetzt.
    </p>
  </div>
  <div class="column">
    <iframe width="960" height="517" data-original-width="6460" data-original-height="3480" src="https://www.thinglink.com/card/1325051402354950146" type="text/html" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen scrolling="no"></iframe>
    <script async src="//cdn.thinglink.me/jse/responsive.js"></script>
  </div>
</div>

<hr>

<h3 class="is-size-3 mb-4">IJC-Vorstand</h3>
<p>
  Der Vorstand ist verantwortlich für die Verwaltung des IJC. In alphabetischer Reihenfolge sind die aktuellen Mitglieder:
</p>
{% include 'boardIJC.njk' %}

<hr>

<h3 class="is-size-3 mb-4">IJC-Komitees</h3>
<p>
  Diese Komitees helfen dem IJC, seine Mission zu verwirklichen. Wenn es ein bestimmtes Komitee oder einen Bereich gibt, bei dem du helfen möchtest, kannst du dich auch an den zuständigen Kommissar per Discord wenden.
</p>
{% include 'committeesIJC.njk' %}
